<div class="container d-flex justify-content-between flex-column h-100">
  <app-navigation class="mt-5"></app-navigation>
  <div class="row d-flex justify-content-around mt-4">
    <div class="col-md-5">
      <app-registration-form [attr.data-test]="'registrationForm'"></app-registration-form>
    </div>
  </div>
  <app-footer></app-footer>
</div>

