<form [formGroup]="registrationForm"
      (change)="resetFormSubmition()"
      (submit)="submitForm()">
  <div class="d-flex flex-column">
    <div class="d-flex">
      <mat-form-field class="w-100 mr-4"
                      appearance="outline">
        <mat-label>
          Firstname
        </mat-label>
        <input matInput
               [attr.data-test]="'firstNameField'"
               formControlName="firstName">
        <mat-error *ngIf="getFormErrorByFormFieldName('firstName')?.required">
                <span>
                  This field is required.
                </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100"
                      appearance="outline">
        <mat-label>
          Lastname
        </mat-label>
        <input matInput
               [attr.data-test]="'lastNameField'"
               formControlName="lastName">
        <mat-error *ngIf="getFormErrorByFormFieldName('lastName')?.required">
                <span>
                  This field is required.
                </span>
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>
        Password
      </mat-label>
      <input matInput
             [type]="getPasswordInputType()"
             required
             [attr.data-test]="'passwordField'"
             formControlName="password"
             type="password">
      <mat-error *ngIf="getFormErrorByFormFieldName('password')?.required"
                 class="mt-1">
              <span>
                This field is required.
              </span>
      </mat-error>
      <mat-error *ngIf="getFormErrorByFormFieldName('password')?.required"
                 class="mt-1">
              <span>
                This field requires minimum length of 8 characters.
              </span>
      </mat-error>
      <mat-error *ngIf="getFormErrorByFormFieldName('password')?.minlength"
                 class="mt-1">
                <span>
                  This field requires minimum length of 8 characters.
                </span>
      </mat-error>
      <mat-error *ngIf="getFormErrorByFormFieldName('password')?.hasLowerCase"
                 class="mt-1">
              <span>
                Password requires lowercase.
              </span>
      </mat-error>
      <mat-error *ngIf="getFormErrorByFormFieldName('password')?.hasNumber"
                 class="mt-1">
              <span>
                Password requires number.
              </span>
      </mat-error>
      <mat-error *ngIf="getFormErrorByFormFieldName('password')?.hasUpperCase"
                 class="mt-1">
              <span>
                Password requires uppercase.
              </span>
      </mat-error>
      <mat-error *ngIf="getFormErrorByFormFieldName('password')?.passwordContainsfirstName"
                 class="mt-1">
            <span>
                Password contains first name.
              </span>
      </mat-error>
      <mat-error *ngIf="getFormErrorByFormFieldName('password')?.passwordContainslastName"
                 class="mt-1">
            <span>
                Password contains last name.
              </span>
      </mat-error>
      <div mat-icon-button
           class="curser-pointer"
           matSuffix
           (click)="togglePasswordVisibility(!isPasswordVisible)">
        <mat-icon>
          {{getPasswordVisibilityState()}}
        </mat-icon>
      </div>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        E-mail
      </mat-label>
      <input matInput
             [attr.data-test]="'emailField'"
             formControlName="email">
      <mat-error *ngIf="getFormErrorByFormFieldName('email')?.required">
              <span>
                This field is required.
              </span>
      </mat-error>
    </mat-form-field>
  </div>
  <button mat-raised-button
          color="primary"
          [attr.data-test]="'submitButton'"
          [disabled]="isSubmitted"
          type="submit">
    Submit Registration
  </button>
  <div *ngIf="isSubmitted"
       [attr.data-test]="'formSubmittedText'"
       class="mt-3">
    Form has been successfully submitted.
  </div>
</form>
