<div class="container h-100 d-flex align-items-center justify-content-around">
  <div class="row">
    <div class="col-md-12">
      <img class="img-fluid"
           style="height: 25px"
           src="https://cdn.freebiesupply.com/logos/large/2x/fedex-logo-png-transparent.png"/>
    </div>
  </div>
</div>

